body {
  padding-top: 50px;
  background-image: url(http://cdn.playbuzz.com/cdn/37c6903f-acab-4401-807f-d39d1e143cf4/3089ee30-887f-4a7d-9422-e30b2d7ace87.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover { 
    color: #5941BF;
}

label {
  color: #ffffff;
}

#navbar {
  color: #ffffff;
}

.song a {
  font-size: 1em;
}

