<div class="add_new_song">

<h2>Add your favourite songs below!</h2>

<% if @song && @song.errors.any? %>
  <div>
    <strong>Some issues with your song input, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form action="/songs" method="post">
  <div>
    <label>Song Title:</label>
    <input type="text" name="song[song_title]" value="<%= @song && @song.song_title %>">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="song[author]" value="<%= @song && @song.author %>">
  </div>
  <div>
    <label>URL (optional):</label>
    <input type="text" name="song[url]" value="<%= @song && @song.url %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

</div>