<div class="track_info">

  <h1><%= @song.song_title %></h1>

  <p>
    Author: <%= @song.author %>
  </p>

  <p>
    <a href="http://<%= @song.url %>"><%= @song.url %></a>
  </p>

  <hr/>
  <a href="/songs">Back to All Songs</a>

</div>