<div class="homepage">
  <h1>Welcome to Wonderful Music Wall</h1>
  <h2>The home of awesome music lists!</h2>

  <a href="./users/signup"><strong>Click here to sign up!</strong></a>

  <p><strong>Have an account already?<strong></p>

  <a class="signin" href="./users/login">Sign in!</a>
</div>