<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->

  <link rel="stylesheet" href="/stylesheets/bootstrap_css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>The Wonderful Music Wall</title>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">The Wonderful Music Wall</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if session['user_id'] %>
              <li><a>Welcome back, <%= session['username'] %></a></li>
              <li><a href="/users/logout">Logout</a></li>
            <% else %>
              <li><a href="/users/login">Login</a></li>
              <li><a href="/users/signup">Sign Up</a></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

      <div class="starter-template">

        <%= yield %>

      </div>

<!--     <div class="clearfix"> -->
      <footer>
        <p>© Awesome Music Inc 2015</p>
      </footer>
    <!-- </div> --> <!-- /container --> 

        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./Starter Template for Bootstrap_files/jquery.min.js"></script>
    <script src="./Starter Template for Bootstrap_files/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./Starter Template for Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


